autoencoder_reduction/input_santander/test.csv
sentdex_TF/train_set_shuffled.csv
sentdex_TF/training.1600000.processed.noemoticon.csv
sentdex_TF/train_set.csv
udacity/notMNIST_large/B.pickle
udacity/notMNIST_large/I.pickle
udacity/notMNIST_large/E.pickle
udacity/notMNIST_large/C.pickle
udacity/notMNIST_large/F.pickle
udacity/notMNIST_large/D.pickle
udacity/notMNIST_large/H.pickle
udacity/notMNIST_large/G.pickle
udacity/notMNIST_large/J.pickle
udacity/notMNIST_large/A.pickle
udacity/notMNIST_large.tar.gz
udacity/notMNIST_small.tar.gz
udacity/notMNIST_small/
udacity/notMNIST_large/
